{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load staticfiles %}
{% load i18n widget_tweaks %}

{%block title %}
<title>Checkout</title>
{% endblock %}

{% block content %}

<div class="container-personal">
    <!-- Order Summary -->
    <div class="row checkout-review">
        <!-- General Messages-->
        <div class="alert-personalpage">{% if messages %} {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }} </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="card-header py-3 align-items-center justify-content-between checkout-header">
            <h2 class="text-center">Your Order Summary</h2>
            <div class="row">
                <div class="col-4">
                    <p class="font-weight-bold">Products:</p>
                </div>
                <div class="col-4">
                    <p class="font-weight-bold">Quantity: </p>
                </div>
                <div class="col-4">
                    <p class="font-weight-bold">Total: </p>
                </div>
                {% for item in cart_items %}
                <div class="col-4">
                    <p>{{ item.product.name }}</p>
                </div>
                <div class="col-4">
                    <p>{{ item.quantity }}</p>
                </div>
                <div class="col-4">
                    <p>{{ item.product.price }}<i class="fas fa-euro-sign"></i> x ({{ item.quantity }})</p>
                </div>
                {% endfor %}
                <div class="col-4">
                    <p class="font-weight-bold">Shipping Costs: </p>
                </div>
                <div class="col-4">
                </div>
                <div class="col-4">
                    <p>{{shipping_costs|floatformat:2}} <i class="fas fa-euro-sign"></i></p>
                </div>
                <div class="col-4">
                    <p class="font-weight-bold">Total Price: </p>
                </div>
                <div class="col-4">
                </div>
                <div class="col-4">
                    <p id="total">{{total|floatformat:2}} <i class="fas fa-euro-sign"></i></p>
                </div>
                {% if code != None %}
                <div class="col-4">
                    <p class="font-weight-bold">Discounted Price: </p>
                </div>
                <div class="col-4">
                </div>
                <div class="col-4">
                    <p id="new_total">{{new_total|floatformat:2}} <i class="fas fa-euro-sign"></i></p>
                </div>

                {% endif %}
            </div>

        </div>

    </div>

    <div class="container-form">
        <form role="form" method="POST" id="payment-form" action="{% url 'checkout' %}">
            {% csrf_token %}
            <div class="form-row row">
                <div class="form-group col-md-6">
                    <div class="row-shipping-info">
                        <h2 class="panel-title">Shipping Details</h2>
                        <div class="credit-card-box">
                            <div class="row">
                                {% for field in order_form %}
                                {% if field.errors %}
                                <div class="form-group has-error col-6">
                                    <label class="col-sm-12 control-label"
                                        for="id_{{ field.name }}">{{ field.label }}</label>
                                    <div class="col-sm-12">
                                        {{ field|attr:"class:form-control" }}
                                        <span class="help-block">
                                            {% for error in  field.errors %}{{ error }}{% endfor %}
                                        </span>
                                    </div>
                                </div>
                                {% else %}
                                <div class="form-group col-6 ">
                                    <label class="col-sm-12 control-label"
                                        for="id_{{ field.name }}">{{ field.label }}</label>
                                    <div class="col-sm-12">
                                        {{ field|attr:"class:form-control" }}
                                        {% if field.help_text %}
                                        <p class="help-block"><small>{{ field.help_text }}</small></p>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-6 ">
                    <div class="row-shipping-info h-100">
                        <h2 class="panel-title">Payment Details</h2>
                        <div class="credit-card-box">
                            <div class="display-td">
                                <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                            </div>
                            {{ payment_form | as_bootstrap }}
                        </div>
                    </div>
                </div>
                <!--Card Messages-->
                <div id="credit-card-errors" class="alert-personalpage" style="display: none;">
                    <div class="alert-message block-message error alert alert-danger" id="stripe-error-message"
                        role="alert">
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <input class=" btn btn-primary" id="submit_payment_btn" name="commit" type="submit"
                        value="Submit Payment">
                </div>
            </div>
        </form>
    </div>
</div>



{% block script_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script>
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}
{% endblock %}