{% extends "base.html" %}
{% block content %}
<div class="container_pages">
    <h4>Order Info</h4>
    <table class="table table-sm table-bordered table-responsive table-dark">
        <thead>
            <tr>
                <th scope="col">Order ID</th>
                <th scope="col">Order Date</th>
                <th scope="col">Name</th>
                <th scope="col">Phone Number</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{order.id}}</td>
                <td>{{order.date}}</td>
                <td>{{order.full_name}}</td>
                <td>{{order.phone_number}}</td>
            </tr>
        </tbody>
    </table>

    <h4>Shipping Address </h4>
    <table class="table table-sm table-bordered table-responsive table-dark">
        <thead>
            <tr>
                <th scope="col">Address 1</th>
                <th scope="col">Address 2</th>
                <th scope="col">County</th>
                <th scope="col">City</th>
                <th scope="col">Postcode</th>
                <th scope="col">Country</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{order.street_address1}}</td>
                <td>{{order.street_address2}}</td>
                <td>{{order.county}}</td>
                <td>{{order.town_or_city}}</td>
                <td>{{order.postcode}}</td>
                <td>{{order.country}}</td>
            </tr>
        </tbody>
    </table>

    <h4>Order Status</h4>
    <div class="input-group">
        <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
            <option selected>Choose...</option>
            <option value="1">Ready</option>
            <option value="2">Shipped</option>
            <option value="3">Received</option>
        </select>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">Button</button>
        </div>
    </div>
</div>


{% endblock %}