.checkout-review {
    width: 100%;
}

.checkout-header {
    width: 75%;
    margin: auto;
}

.form-row {
    margin-top: 40px;
    padding: 20px;
    text-align: center;
}

.row-shipping-info {
    border: 1px solid #c1c1c1;
    border-radius: 12px;
    margin: auto;
}

.credit-card-box {
    padding: 25px;
}

.panel-title {
    padding: 25px;
    background: #44494ef5;
    color: white;
    border-radius: 10px;
}