.filter-orders {
    width: 100%;
    margin: auto;
    padding: 20px;
    margin-left: 20px;
}

.filter-orders-container {
    width: 100%;
}

.order-card {
    padding: 0.5rem
}

@media (max-width: 756px) {
    .order-card {
        padding: 1.5rem
    }
}

.icon-inline-space {
    margin-left: 0.5rem;
}

.dashboard-navbar {
    height: 62px;
    color: white;
}

.bg-dark {
    color: white !important;
}

.navbar-icon {
    color: white;
}

.chart-views-btn {
    width: 100%;
}

.row-btn-change-view {
    width: 100% !important;
}

.card-body {
    text-align: center;
}