$font-stack: Helvetica,
sans-serif;
$primary-color: #333;

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.container_pages {
  min-height: 100vh;
  margin-left: 25px;
  margin-right: 25px;
  bottom: -80px;
  display: grid;
}

#page-content-wrapper {
  width: 100%;
}

#wrapper {
  min-height: 100vh;
}