full-width-logo,
.full-width-header {
    height: 100vh;
    text-align: center;
    position: block;
    overflow: hidden
}

.ico-narrow-down {
    font-size: 4rem;
    color: black;
}

.narrow-down-display {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.page-jumbotron {
    width: 50%;
    text-align: center;
    margin: auto;
    top: 10%;
    position: relative;
}