full-width-logo,
.full-width-header {
    height: 100vh;
    text-align: center;
    position: block;
    overflow: hidden
}

.ico-narrow-down {
    font-size: 4rem;
    color: black;
}


@keyframes pulse {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.narrow-down-display {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    animation: pulse 3s infinite;
    animation-direction: normal;
}

.page-jumbotron {
    width: 50%;
    text-align: center;
    margin: auto;
    top: 10%;
    position: relative;
}