.input-group-btn-vertical .btn {
    min-width: 1.5rem;

}

.bootstrap-touchspin-injected {
    border-radius: 2px;
    border:0.8px solid lightgray;
}

.btn-link,
.bootstrap-touchspin-down {
    text-decoration: none !important;
    color: black;
}

.add-to-cart-icon{
    padding: 5px;
}