{% extends 'base.html' %}

{% block title%}
<title>Products</title>
{% endblock %}

{% block content %}

<div class="container container-personal">
    <div class="row">
        <div class="col-12">
            <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                    Filter by Categories
                </a>
            </p>
            <div class="collapse" id="collapseExample">
                {% include 'list_categories.html' %}
            </div>
        </div>
        <div class="col-12">
            {%if product_category%}
            {%for cat in product_category%}
            <h3 class="text-center">Selected Category: {{cat|title }}</h3>
            {% endfor %}
            {% else %}
            <h3 class="text-center">All Products</h3>
            {% endif %}
            <div class="row products-row">
                {% for product in pagination_products %}
                <!--card-->
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="{% url 'product_detail' product.id %}"><img class="img-shop card-img-top"
                                src="{{MEDIA_URL}}{{ product.image }}" alt=" {{ product.name }}"></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="{% url 'product_detail' product.id %}">{{ product.name }}</a>
                            </h4>
                            <h5>{{ product.price }} <i class="fas fa-euro-sign"></i></h5>
                            <p class="card-text">{{ product.description|truncatechars:50 }}</p>
                            <div>
                                {% if product.in_stock == True %}
                                <form method="post" action="{% url 'add_to_cart' product.id %}">
                                    {% csrf_token %}
                                    <div class="input-group">
                                        <input name="quantity" type="number" min="1" max="999" class="form-control"
                                            placeholder="Quantity" value='1'>
                                        <span class="input-group-btn">
                                            <button class="btn btn-success" type="submit"> <i
                                                    class="fas fa-cart-plus"></i>
                                            </button>
                                        </span>
                                    </div>
                                </form>
                                {% else %}
                                <h4>{{translations.notAvailable}}</h4>
                                {% endif %}
                            </div>
                        </div>
                        <!-- REVIEWS 
                        <div class="card-footer">
                            {%for range in product_reviews%}
                            {%if product.pk == range.product_id %}
                            {% if range.avg_rating != Null %}
                            <p class="star_rating" value="{{range.avg_rating|floatformat:1}}">Rated:
                                {{range.avg_rating|floatformat:1}}/5</p>
                            {% else %}
                            <p>Rated: 0/5</p>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                        </div>
                        -->
                    </div>
                </div>
                <!--./card-->
                {% endfor %}
            </div>
            <!--pagination-->
            <div class="pagination-container">
                <nav aria-label="...">
                    <ul class="pagination">
                        {% if pagination_products.has_previous %}
                        <li class="page-item">
                            <span class="page-link"><a
                                    href="?page={{ pagination_products.previous_page_number }}">Previous</a></span>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">Previous</span>
                        </li>
                        {% endif%}


                        {% if pagination_products.number|add:'-4' > 1 %}
                        <li><a href="?page={{ pagination_products.number|add:'-5' }}">&hellip;</a></li>
                        {% endif %}

                        {% for i in pagination_products.paginator.page_range %}
                        {% if pagination_products.number == i %}
                        <li class="page-item active"><span class="page-link">{{ i }}</span> <span
                                class="sr-only">(current)</span></span></li>
                        {% elif i > pagination_products.number|add:'-5' and i < pagination_products.number|add:'5' %}
                        <li class="page-item"><a href="?page={{ i }}"><span class="page-link">{{ i }}</span></a>
                        </li>
                        {% endif %}
                        {% endfor %}

                        {% if pagination_products.paginator.num_pages > pagination_products.number|add:'4' %}
                        <li><a href="?page={{ pagination_products.number|add:'5' }}">&hellip;</a></li>
                        {% endif %}

                        {% if pagination_products.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ pagination_products.next_page_number }}">Next</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#">Next</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            <!--./Pagination-->
        </div>
    </div>
</div>

{% endblock %}