{% extends "base.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}

{% block content %}
<div class="container_pages">
    <h3>{{ product.name }}</h3>
    <small class="text-muted"></small>
    {%for range in product_reviews%}
    {%if product.pk == range.product_id %}
    {% if range.avg_rating != Null %}
    <p>{{range.avg_rating}}</p>
    {% else %}
    <p>0</p>
    {% endif %}
    {% endif %}
    {% endfor %}

    <div class="row">
        <div class="col-md-6">
            <img class="card-img-top" src="{{ MEDIA_URL }}{{ product.image }}" alt=" {{ product.name }}">
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-12">
                    <h4>Product Description</h4>
                    <p>{{ product.description }}</p>
                </div>
                <div class="col-12">
                    <p>Price: {{ product.price }} €</p>
                </div>
                <div>
                    <form method="post" action="{% url 'add_to_cart' product.id %}">
                        {% csrf_token %}
                        <div class="input-group">
                            <input name="quantity" type="number" min="1" max="999" class="form-control"
                                placeholder="Quantity">
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="submit">Add</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <h2>{{ product.name }}</h2>

    <h3>Recent reviews</h3>
    {% if review_list%}
    <div>
        {% for review in review_list %}
        <div>
            <em>{{ review.comment }}</em>
            <h6>Rated {{ review.rating }} of 5 by {{ review.user_name }}</h6>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>No reviews for this product yet.</p>
    {% endif %}

    <p><a href="{% url 'add_review' product.id%}">Add a Review</a></p>


</div>

{% endblock %}