.filter-orders {
    margin: auto;
    padding: 20px;
    margin-left: 20px;
}

.filter-orders-container {
    width: 100%;
}

.dashboard-card {
    padding: 0.5rem;
    margin-bottom: 20px;
    min-width: 220px;
}

@media (max-width: 756px) {
    .dashboard-card {
        padding: 1.5rem
    }
}

.icon-inline-space {
    margin-left: 0.5rem;
}

.dashboard-navbar {
    height: 62px;
    color: white;
}

.bg-dark {
    color: white !important;
}

.navbar-icon {
    color: white;
}

.chart-views-btn {
    width: 100%;
}

.row-btn-change-view {
    width: 100% !important;
}

.card-body {
    text-align: center;
}

.container-orders {
    min-height: 100vh;
    margin-left: 20px;
    margin-right: 20px;
}