.container-index {
    width: 85%;
    margin: auto;
    margin-top: 30px;
}

full-width-logo,
.full-width-header {
    height: 75vh;
    text-align: center;
    position: block;
    overflow: hidden
}

.logo-carousel {
    width: 100%;
    object-fit: cover;
    height: 75vh;
}

@keyframes jump {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.narrow-down-display {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    animation: 3s infinite;
    animation-direction: normal;
}

.jumbotron-container {
    margin: auto;
    position: relative;
    height: 75vh;
    width: 100%;
}

.page-jumbotron {
    width: 100%;
    height: 75vh;
    padding: 8%;
    text-align: center;
    margin: auto;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    position: inherit;
}

.badge-new-product {
    position: absolute;
    padding-top: 6px;
    float: right;
    right: 11px;
    top: 10px;
    width: 80px;
    height: 25px;
    text-align: center;
}

// Animation for the badge new products
.pulse {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fc013af5;
    cursor: pointer;
    -webkit-box-shadow: 0 0 0 rgba(225, 27, 27, 0.4);
    box-shadow: 0 0 0 rgba(255, 0, 0, 0.4);
    -webkit-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
    padding-top: 19px;
}

.pulse:hover {
    animation: none;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

// Media queries
@media (max-width: 768px) {
    .full-width-header,
    .logo-carousel,
    .jumbotron-container {
        height: 60vh;
    }
    .page-jumbotron {
        width: 100%;
        font-size: 1rem;
        font-weight: 400;
        height: 60vh;
    }
    .display-4 {
        font-size: 1.5rem;
        font-weight: 400;
    }
    .advert-hr {
        margin-bottom: 0px !important;
    }
    .advert-btn {
        margin-bottom: 10px;
        padding: 5px;
        font-size: 1rem;
    }
}