.user-img {
    height: 50px;
    width: 50px;
}

.card-review-col {
    padding: 15px;
}

.frontside .card .card-title,
.card .card-title {
    color: #007b5e !important;
}

.frontside .card .card-body img {
    width: 120px;
    border-radius: 50%;
}