{% extends 'base.html' %}

{% block title%}
<title>Products</title>
{% endblock %}

{% block content %}

<div class="container container-personal">
    <div class="row">
        <div class="col-12">
            <h3>These are the results for your search '{{query}}':</h3>
            <div class="row products-row">
                {% for product in products %}
                <!--card-->
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="{% url 'product_detail' product.id %}"><img class="img-shop card-img-top"
                                src="/media/{{ product.image }}" alt=" {{ product.name }}"></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="{% url 'product_detail' product.id %}">{{ product.name }}</a>
                            </h4>
                            <h5>{{ product.price }} <i class="fas fa-euro-sign"></i></h5>
                            <p class="card-text">{{ product.description|truncatechars:50 }}</p>
                            <div>
                                {% if product.in_stock == True %}
                                <form method="post" action="{% url 'add_to_cart' product.id %}">
                                    {% csrf_token %}
                                    <div class="input-group">
                                        <input name="quantity" type="number" min="1" max="999" class="form-control"
                                            placeholder="Quantity" value='1'>
                                        <span class="input-group-btn">
                                            <button class="btn btn-success" type="submit"> <i
                                                    class="fas fa-cart-plus"></i>
                                            </button>
                                        </span>
                                    </div>
                                </form>
                                {% else %}
                                <h4>Temporary out of stock</h4>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-footer">
                            {%for range in product_reviews%}
                            {%if product.pk == range.product_id %}
                            {% if range.avg_rating != Null %}
                            <p class="star_rating" value="{{range.avg_rating|floatformat:1}}">Rated:
                                {{range.avg_rating|floatformat:1}}/5</p>
                            {% else %}
                            <p>Rated: 0/5</p>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!--./card-->
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}