{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load static from staticfiles %}

{% block content %}
<div class="container_pages">


    <div class="row">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Product Image</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                <tr>
                    <th scope="row">
                        <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')">
                        </div>
                    </th>
                    <td>{{ item.product.name }}</td>
                    <td>{{item.quantity}}
                        <form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="exampleInputAmount" class="sr-only">New Qty</label>
                                <div class="input-group">
                                    <div class="input-group-addon">Qty</div>
                                    <input name="quantity" type="number" min="0" max="999" class="form-control">
                                    <div class="input-group-addon">{{item.quantity}}</div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit"
                                    aria-hidden="true"></span>Amend</button>
                        </form>
                    </td>
                    <td>{{ item.product.price}} * {{item.quantity}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <th >Total Price</th>
                    <td></td>
                    <td></td>
                    <td id="total">{{total}}</td>
                </tr>
                {% if code != None %}
                <tr>
                    <th>Discount Price</th>
                    <td></td>
                    <td></td>
                    <td id="new_total">{{new_total}}</td>
                </tr>
                {% endif %}
            </tbody>
        </table>

    </div>
    <div class="form-group col-md-6">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}


    </div>


    <form class="card p-2" action="{% url 'voucher' %}" method="POST">
        {% csrf_token %}
        <div class="input-group">
            <input type="text" name="code" class="form-control" placeholder="Promo code">
            <div class="input-group-append">
                <button type="submit" class="btn btn-secondary">Redeem</button>
            </div>
        </div>
    </form>


    <div class="row">
        <p>New Total:</p>
        <p><span class="glyphicon glyphicon-euro" aria-hidden="true"></span>{{ new_total }}</p>
        <br>
        <a href="{% url 'checkout' %}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-ok-sign"
                aria-hidden="true"></span>Checkout</a>
    </div>


</div>
{% endblock %}