{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<!-- Page Header-->
<div class="full-width-header"
    style="background: url('{% static "images/fullWidthLogo.png" %}') no-repeat center center fixed;">

    <!--Callout-->
    <div class="container-fluid logo-container">
        <div class="opaque-overlay">&nbsp;</div>
        <!-- Callout -->
        <div class="row callout-row">
            <div class="col-xs-12">
                <section class="callout jumbotron text-center">
                    <hr class='block-divider block-divider--orange'>
                    <p><button class="btn btn-lg btn--cta btn--red" data-toggle='modal'>
                        </button>
                </section>
            </div>
        </div>
    </div>
    <!-- /.callout -->

    <!-- Narrow Down-->
    <div class="narrow-down-display">
        <a href="#bestsellers"><i class="fa fa-angle-double-down ico-narrow-down"></i></a>
    </div>
</div>
<!-- ./Page Header-->

<!-- Page Content -->
<div class="container">
    <div class="row">

        <!-- Carousel bestsellers Product -->
        <div id="bestsellers" class="col-lg-12">
            <h2>Bestsellers</h2>
            <div id="bestsellers-carousel" class="carousel slide my-4" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#bestsellers-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#bestsellers-carousel" data-slide-to="1"></li>
                    <li data-target="#bestsellers-carousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            {% for product in products|slice:":7"  %}
                            {% if product.category == "bestseller" %}
                            <!--card-->
                            <div class="col-lg-4 col-md-6 mb-4">
                                <div class="card h-100">
                                    <a href="{% url 'product_detail' product.id %}""><img class=" card-img-top"
                                        src="{{ MEDIA_URL }}{{ product.image }}" alt=" {{ product.name }}"></a>
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            <a href="{% url 'product_detail' product.id %}">{{ product.name }}</a>
                                        </h4>
                                        <h5>{{ product.price }} €</h5>
                                        <p class="card-text">{{ product.description }}</p>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                                    </div>
                                </div>
                            </div>
                            <!--./card-->
                            {% if forloop.counter|divisibleby:3 and not forloop.last %}
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#bestsellers-carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#bestsellers-carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <!--/.Carousel Wrapper-->
            </div>
            <!-- / End Latest Product Carousel -->

        </div>
        <!-- ./Carousel bestsellers Product -->

        <!-- Carousel Latest Product -->
        <div id="latest" class="col-lg-12">
            <h2>Our Latest Products</h2>
            <div id="latestcarousel" class="carousel slide my-4" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#latestcarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#latestcarousel" data-slide-to="1"></li>
                    <li data-target="#latestcarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            {% for product in products %}
                            {% if product.category == "latest" %}
                            <!--card-->
                            <div class="col-lg-4 col-md-6 mb-4">
                                <div class="card h-100">
                                    <a href="{% url 'product_detail' product.id %}"><img class="card-img-top"
                                            src="{{ MEDIA_URL }}{{ product.image }}" alt=" {{ product.name }}"></a>
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            <a href="{% url 'product_detail' product.id %}">{{ product.name }}</a>
                                        </h4>
                                        <h5>{{ product.price }} €</h5>
                                        <p class="card-text">{{ product.description }}</p>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                                    </div>
                                </div>
                            </div>
                            <!--./card-->
                            {% if forloop.counter|divisibleby:3 and not forloop.last %}
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#latestcarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#latestcarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <!--/.Carousel Wrapper-->
            </div>
        </div>
        <!-- ,/Carousel Latest Product -->

        <!-- Carousel Latest Product 2 -->
        <div id="latest" class="col-lg-12">
            <h2>Our Latest Products 2</h2>
            <div id="latestcarousel2" class="carousel slide my-4" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#latestcarousel2" data-slide-to="0" class="active"></li>
                    <li data-target="#latestcarousel2" data-slide-to="1"></li>
                    <li data-target="#latestcarousel2" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            {% for product in products %}
                            <!--card-->
                            <div class="col-lg-4 col-md-6 mb-4">
                                <div class="card h-100">
                                    <a href="{% url 'product_detail' product.id %}"><img class="card-img-top"
                                            src="{{ MEDIA_URL }}{{ product.image }}" alt=" {{ product.name }}"></a>
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            <a href="{% url 'product_detail' product.id %}">{{ product.name }}</a>
                                        </h4>
                                        <h5>{{ product.price }} €</h5>
                                        <p class="card-text">{{ product.description }}</p>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                                    </div>
                                </div>
                            </div>
                            <!--./card-->
                            {% if forloop.counter|divisibleby:3 and not forloop.last %}
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#latestcarousel2" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#latestcarousel2" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <!--/.Carousel Wrapper-->
            </div>
        </div>
        <!-- ./Carousel Latest Product 2 -->
    </div>
    <!-- /End first carousel-->

</div>
</div>
<!-- / End Latest Product Carousel -->

{% endblock %}