{% extends "dashboardbase.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}

{%block title %}
<title>Dashboard - Orders</title>
{% endblock %}

{% block css %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{%block content%}
<div class="row">
    <div class="filter-orders-container">
        <div class="filter-orders collapsible">
            <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                    Filter Orders
                </a>
            </p>
            <div class="collapse" id="collapseExample">
                <form method="GET">
                    <div class="row">
                        {{ filter.form|as_bootstrap_inline }}
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-info">Filter</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for order in filter.qs %}
            <div class="col-sm-12 col-md-4 col-lg-3 order-card">
                <div class="card shadow mb-4 h-100">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <a href="{% url 'dashboard_order_details' order.id %}">
                            <h6 class="m-0 font-weight-bold text-primary">Order ID: {{order.id}}</h6>
                        </a>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="chart-area">
                            <p class="font-weight-bold">Order Date: </p>
                            <p>{{order.date}}</p>
                            <p class="font-weight-bold">Order Status: </p>
                            {% if order.order_status == 'Delivered'%}
                            <p>{{order.order_status}}<span class="icon-inline-space"><i class="fas fa-truck"></i></span>
                            </p>
                            {% else %}
                            <p>{{order.order_status}}<span class="icon-inline-space"><i
                                        class="fas fa-hourglass-start"></i></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</div>

<!-- loading datepicker, not loading adding it in block js-->
<script>
    $('#id_date').datepicker();
</script>

{% endblock %}