{% extends "dashboardbase.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}

{%block title %}
<title>Dashboard - Orders</title>
{% endblock %}

{% block css %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{%block content%}
<div class="row">
    <div class="col-sm-12">
        <form method="GET">
            {{ filter.form|as_bootstrap }}

            <button type="submit" class="btn btn-info">Save</button>
        </form>
    </div>
    {% for order in filter.qs %}
    <div class="col-sm-12 col-md-4">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <a href="{% url 'dashboard_order_details' order.id %}">
                    <h6 class="m-0 font-weight-bold text-primary">Order ID: {{order.id}}</h6>
                </a>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area">
                    <p>Order Date: {{order.date}}</p>
                    <p>Order Status:</p>
                </div>
            </div>
        </div>
    </div>
    {%endfor%}

</div>


<script>
    $('#id_date').datepicker();
</script>
{% endblock %}