{% extends "dashboardbase.html" %}
{% load staticfiles %}

{%block content%}

<div class="container_page">
    <div class="row">
        {% for product in products %}
        <!-- Area Chart -->
        <div class="col-sm-12 col-md-4">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <a href="{% url 'product_detail' product.id %}">
                        <h6 class="m-0 font-weight-bold text-primary">Product Name: {{product.name}}</h6>
                    </a>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="{% url 'confirm_delete_product' product.id %}">Delete
                                Product</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>

                            <form method="POST" action="toggle_status/{{product.id}}" class="form-inline">
                                {% csrf_token %}
                                <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Stock Status</label>
                                <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                                    <option selected>Stock Status</option>
                                    <option value="1">In Stock</option>
                                    <option value="2">Not Stock</option>
                                </select>

                                <button type="submit" class="btn btn-primary my-1">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <p>Product Id: {{product.id}}</p>
                        <p>Product Price: {{product.price}}</p>
                        <p>Product Category: {{product.category}}</p>
                        <p>Product in stock:
                            {% if product.in_stock == True %}
                            Yes
                            {% else %}
                            No
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
{% endblock %}